body {
  color: white;
  font-family: "Mansalva";
  font-size: 3rem;
}

h1 {
  font-size: 7rem;
  width: 520px;
}

h2 {
  font-size: 5rem;
}

h1,
h2,
p {
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.hero-section {
  background: linear-gradient(45deg, rgb(228, 13, 13), rgb(94, 19, 19));
  padding-left: 12rem;
  padding-right: 12rem;
}

.onion1,
.onion2 {
  z-index: 1;
  position: absolute;
  height: 250px;
}

.onion1 {
  top: 30px;
  left: 50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.onion2 {
  bottom: 20px;
  right: -100px;
}

.enseigne {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.combo {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.burger {
  height: 800px;
  z-index: 2;
}

.map-section {
  background-color: rgb(230, 103, 44);
  gap: 2rem;
  flex-direction: column;
}

.logos {
  display: flex;
  gap: 2rem;
}

.logo img {
  height: 5rem;
  display: block;
}

.about-section {
  color: black;
  background-color: rgb(245, 245, 220);
  gap: 3em;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1710px) {
  h1 {
    margin: auto;
  }

  .hero-section {
    padding-top: 15rem;
  }

  .enseigne {
    align-items: center;
  }

  .about-section {
    grid-template-columns: 1fr;
  }
}
